/* Generics */

html, body {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.cursive {
  font-family: 'Monsieur La Doulaise', cursive;
}

main, section {
  background: linear-gradient(45deg, #3ce9cc 0%, #a2ecff 20%, #ff9ee2 40%, #ffbda3 60%, #a8a7ff 100%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section::before,
section::after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  transform-origin: 55% 55%;
  pointer-events: none;
}

section::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 20% 20%;
}

section>* {
  transition: all 1s ease;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Utils */
a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a.active {
  font-weight: bold;
  color: inherit;
}

a:hover i.fa-solid {
  transform: scale(1.2);
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 50px;
  background: hsl(0 0% 100% / 0.1);
  height: 100vh;
  z-index: 2;
}

/* Home */
#home .content>* {
  line-height: 100px;
}

#home img {
  margin-right: 65px;
  margin-top: 85px;
  width: 300px;
  height: auto;
  border-radius: 50%;
}


/* sezioni*/
#chi-sono, #lavori, #contatti {
  letter-spacing: 3px;
  font-size: 20px;
}


.carousel-wrapper::-webkit-scrollbar, .about-me::-webkit-scrollbar {
  width: 0 !important
}

section#lavori .carousel-wrapper {
  overflow-y: scroll;
  height: 75vh;
}

section#lavori .carousel-wrapper img.full-page {
  width: 90%;
  height: auto;

  margin: 10px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

section#chi-sono .about-me {
  overflow-y: scroll;
  height: 40vh;
}

#lavori .carousel-wrapper img {
  margin: 10px;
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

/* media queries */
@media only screen and (max-width:576px) {
  .navigation {
    height: 5vh;
  }

}

/* animations */
.animation {
  position: relative;
  top: 0;
  left: -1200px;
  animation: slide 2s forwards;
}

.fade-in {
  opacity: 0;
  transition: all 1s ease;
}

.fade-in.show {
  opacity: 1;
}

.d-1 {
  animation-delay: .25s;
}

.d-2 {
  animation-delay: .50s;
}

.d-3 {
  animation-delay: .75s;
}

.d-4 {
  animation-delay: 1s;
}

@keyframes slide {
  100% {
    left: 0;
  }
}